<!DOCTYPE html>
<html>
<head>
    <title>Guess the Country</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('main.daily') }}">
            <button>Daily Puzzle</button>
        </a>
        <a href="{{ url_for('main.practice') }}">
            <button>Practice</button>
        </a>
        <a href="{{ url_for('main.leaderboard') }}">
            <button>Leaderboard</button>
        </a>
        <a href="{{ url_for('auth.logout') }}">
            <button>Logout</button>
        </a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
